If:
  PathMatch: code/.*
  PathExclude: code/3rdparty/.*

CompileFlags:
 Add: [-ferror-limit=0, -includeall_inc.hpp, "-IW:/hi/code", "-IW:/hi/code/3rdparty", -DWIN32, -D_WINDOWS, -D_HAS_EXCEPTIONS=0, -D_CRT_SECURE_NO_WARNINGS, -W1, -std=c++20]
Diagnostics:
  UnusedIncludes: None
