Checks: 
  [
  '*',
  '-altera*',
  '-llvmlibc-*',

  '-bugprone-easily-swappable-parameters',
  '-bugprone-suspicious-include',
  '-bugprone-reserved-identifier',
  
  '-cert-dcl37-c',
  '-cert-dcl51-cpp',

  '-cppcoreguidelines-macro-usage',
  '-cppcoreguidelines-avoid-non-const-global-variables',
  '-cppcoreguidelines-pro-type-union-access',
  '-cppcoreguidelines-avoid-magic-numbers',
  '-cppcoreguidelines-pro-bounds-constant-array-index',
  '-cppcoreguidelines-pro-bounds-pointer-arithmetic',
  '-cppcoreguidelines-pro-type-cstyle-cast',
  '-cppcoreguidelines-pro-bounds-array-to-pointer-decay',
  '-cppcoreguidelines-avoid-c-arrays',
  '-cppcoreguidelines-avoid-do-while',

  '-fuchsia-overloaded-operator',

  '-google-readability-casting',

  '-hicpp-uppercase-literal-suffix',
  '-hicpp-use-auto',
  '-hicpp-no-array-decay',
  '-hicpp-signed-bitwise',
  '-hicpp-avoid-c-arrays',
  '-hicpp-use-nullptr',

  '-modernize-use-auto',
  '-modernize-use-trailing-return-type',
  '-modernize-avoid-c-arrays',
  
  '-misc-use-anonymous-namespace',
  '-misc-header-include-cycle',

  '-performance-no-int-to-ptr',
  
  '-readability-redundant-declaration',
  '-readability-uppercase-literal-suffix',
  '-readability-non-const-parameter',
  '-readability-magic-numbers',
  '-readability-implicit-bool-conversion',
  '-readability-identifier-length',

  '-clang-diagnostic-unknown-pragmas',
  '-clang-diagnostic-format',  
  ]
  
HeaderFileExtensions:         ['', 'hpp','hxx']
ImplementationFileExtensions: ['cpp','cxx']
FormatStyle: none
ExtraArgs: 
  [
  '-includeall_inc.hpp', 
  ]
